    /*
    Flaticon icon font: Flaticon
    Creation date: 07/12/2018 18:53
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-website-design-symbol:before { content: "\f100"; }
.flaticon-programming:before { content: "\f101"; }
.flaticon-wordpress-logo:before { content: "\f102"; }
.flaticon-internet:before { content: "\f103"; }
.flaticon-shopping-cart:before { content: "\f104"; }
.flaticon-editor:before { content: "\f105"; }
.flaticon-play-button:before { content: "\f106"; }
.flaticon-close-button:before { content: "\f107"; }
.flaticon-half-time-work:before { content: "\f108"; }
.flaticon-man-working-on-a-laptop-from-side-view:before { content: "\f109"; }
.flaticon-happy:before { content: "\f10a"; }
    
    $font-Flaticon-website-design-symbol: "\f100";
    $font-Flaticon-programming: "\f101";
    $font-Flaticon-wordpress-logo: "\f102";
    $font-Flaticon-internet: "\f103";
    $font-Flaticon-shopping-cart: "\f104";
    $font-Flaticon-editor: "\f105";
    $font-Flaticon-play-button: "\f106";
    $font-Flaticon-close-button: "\f107";
    $font-Flaticon-half-time-work: "\f108";
    $font-Flaticon-man-working-on-a-laptop-from-side-view: "\f109";
    $font-Flaticon-happy: "\f10a";